{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Liste commentaires{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.5/dist/bootstrap-table.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.5/dist/bootstrap-table.min.js"></script>
    <script src="{{ asset('js/bootstrap-table-init.js') }}"></script>
{% endblock %}

{% block body %}
    <div>Il y a {{ comments|length }} commentaires.</div>

    <table 
        id="table"
        data-toggle="table"
        data-sortable="true"
        class="table table-responsive table-bordered w-auto">
        <thead class="table-secondary">
            <tr>
                <th scope="col" data-field="createdAt" data-sortable="true">{{ 'creation_date'|trans({}, 'comment') }}</th>
                <th scope="col" data-field="titleFr" data-sortable="true">{{ 'article'|trans({}, 'comment') }}</th>
                <th scope="col" data-field="pseudo" data-sortable="true">{{ 'pseudo'|trans({}, 'comment') }}</th>
                <th scope="col">{{ 'email'|trans({}, 'comment') }}</th>
                <th scope="col">{{ 'comment'|trans({}, 'comment') }}</th>
                <th scope="col">-</th>
                <th scope="col">-</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in comments %}
                <tr>
                    <td class="text-center">{{ comment.createdAt|date('d/m/Y') }}</td>
                    <td>{{ comment.article.titleFr }}</td>
                    <td>{{ comment.pseudo }}</td>
                    <td>{{ comment.email }}</td>
                    <td>{{ comment.comment|u.truncate(20, '...')|raw }}</td>
                    <td><a class="btn btn-link" href="{{ path('app_comment_show', {id: comment.id}) }}"><img class="icon-action-size" src="{{ asset('img/btn-see.svg') }}" alt="btn-see"/></a></td>
                    <td>
                        <form method="post" action="{{ path('app_comment_delete', {id: comment.id}) }}" onsubmit="return confirm('Confirmez-vous la suppression ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                            <button class="btn btn-link" type="submit"><img class="icon-action-size" src="{{ asset('img/btn-delete.svg') }}" alt="btn-delete"/></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if previous >= 0 or next < comments|length %}
        <br>
        {% include '_paginate.html.twig' with {'previous': previous, 'next': next, 'currentPage': currentPage, 'path': 'app_comment_list', 'paginator': comments} %}
    {% endif %}
{% endblock %}




