{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Vue commentaires{% endblock %}

{% block body %}
    <table class="table table-responsive table-bordered w-auto">
        <tbody>
            <tr>
                <th class="table-secondary">Date création</td>
                <td>{{ comment.createdAt|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th class="table-secondary">Article</td>
                <td>{{ comment.article.titleFr }}</td>
            </tr>
            <tr>
                <th class="table-secondary">Pseudo</td>
                <td>{{ comment.pseudo }}</td>
            </tr>
            <tr>
                <th class="table-secondary">Email</td>
                <td>{{ comment.email }}</td>
            </tr>
            <tr>
                <th class="table-secondary">Commentaire</td>
                <td>{{ comment.comment|nl2br|raw }}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn-back btn mt-2 rounded-3" href="{{ path('app_comment_list') }}">{{ 'back'|trans({}, 'actions') }}</a>
{% endblock %}




