{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Liste catégories{% endblock %}

{% block body %}
    <div>Il y a {{ categories|length }} catégories.</div>

    <table class="table table-responsive table-bordered w-auto">
        <thead class="table-secondary">
            <tr>
                <th scope="col">{{ 'position'|trans({}, 'category') }}</th>
                <th scope="col">{{ 'code'|trans({}, 'category') }}</th>
                <th scope="col">{{ 'name_fr'|trans({}, 'category') }}</th>
                <th scope="col">{{ 'name_en'|trans({}, 'category') }}</th>
                <th scope="col">-</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td class="text-center">{{ category.position }}</td>
                    <td>{{ category.code }}</td>
                    <td>{{ category.nameFr }}</td>
                    <td>{{ category.nameEn }}</td>
                    <td>
                        <form method="post" action="{{ path('app_category_delete', {id: category.id}) }}" onsubmit="return confirm('Confirmez-vous la suppression de cette catégorie et de ses {{ category.articles|length }} article(s) ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
                            <button class="btn btn-link" type="submit"><img class="icon-action-size" src="{{ asset('img/btn-delete.svg') }}" alt="btn-delete"/></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if previous >= 0 or next < categories|length %}
        {% include '_paginate.html.twig' with {'previous': previous, 'next': next, 'currentPage': currentPage, 'path': 'app_category_list', 'paginator': categories} %}
    {% endif %}

    <a class="btn-update btn mt-2 rounded-3" href="{{ path('app_category_edit') }}">{{ 'edit'|trans({}, 'actions') }}</a>

    <div class="mt-5">
        <div>Ajouter une catégorie :</div>
        {{ form_start(form) }}
            <div class="form-group">
                {{ form_widget(form.code) }}
                <div class="text-danger">{{ form_errors(form.code) }}</div>
            </div>
            <div class="form-group">
                {{ form_widget(form.name_fr) }}
                <div class="text-danger">{{ form_errors(form.name_fr) }}</div>
            </div>
            <div class="form-group">
                {{ form_widget(form.name_en) }}
                <div class="text-danger">{{ form_errors(form.name_en) }}</div>
            </div>
            <button type="submit" class="btn-add btn rounded-3 align-self-start">{{ 'add'|trans({}, 'actions') }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}




