{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Liste catégories{% endblock %}

{% block body %}
    <div>Il y a {{ categories|length }} catégories.</div>

    <table class="table table-responsive table-bordered w-auto">
        <thead class="table-secondary">
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Position</th>
                <th scope="col">Nom FR</th>
                <th scope="col">Nom EN</th>
                <th scope="col">-</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.code }}</td>
                    <td class="text-center">{{ category.position }}</td>
                    <td>{{ category.nameFr }}</td>
                    <td>{{ category.nameEn }}</td>
                    <td>
                        <form method="post" action="{{ path('app_category_delete', {id: category.id}) }}" onsubmit="return confirm('Confirmez-vous la suppression de cette catégorie et de ses {{ category.articles|length }} article(s) ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
                            <button class="btn btn-link" type="submit"><img class="icon-action-size" src="{{ asset('img/btn-delete.svg') }}" alt="btn-delete"/></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if previous >= 0 or next < categories|length %}
        {% include '_paginate.html.twig' with {'previous': previous, 'next': next, 'currentPage': currentPage, 'path': 'app_category_list', 'paginator': categories} %}
    {% endif %}

    <a class="btn-update btn mt-2 rounded-3" href="{{ path('app_category_list') }}">Modifier</a>
{% endblock %}




