{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Liste pages générales{% endblock %}

{% block body %}
    <table class="table table-responsive table-bordered w-auto">
        <thead class="table-secondary">
            <tr>
                <th scope="col">Page</th>
                <th scope="col">-</th>
            </tr>
        </thead>
        <tbody>
            {% for page in pages %}
                <tr>
                    <td>{{ page.code|trans({}, 'page') }}</td>
                    <td>
                        <form method="post" action="{{ path('app_general_page_list') }}">
                            <input type="hidden" name="_token" value="{{ csrf_token('edit' ~ page.id) }}">
                            <button class="btn btn-link" type="submit"><img class="icon-action-size" src="{{ asset('img/btn-edit.svg') }}" alt="btn-edit"/></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}




