{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Vue page général{% endblock %}

{% block body %}
    <table class="table table-responsive table-bordered w-auto">
        <tbody>
            <tr>
                <th class="table-secondary">{{ 'name'|trans({}, 'page') }}</td>
                <td>{{ page.code|trans({}, 'page') }}</td>
            </tr>
            <tr>
                <th class="table-secondary">{{ 'content_fr'|trans({}, 'page') }}</td>
                <td>{{ page.contentFr|raw }}</td>
            </tr>
            <tr>
                <th class="table-secondary">{{ 'content_en'|trans({}, 'page') }}</td>
                <td>{{ page.contentEn|raw }}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn-back btn mt-2 rounded-3" href="{{ path('app_general_page_list') }}">{{ 'back'|trans({}, 'actions') }}</a>
{% endblock %}




