{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Liste articles{% endblock %}

{% block body %}
    <table class="table table-responsive table-bordered w-auto">
        <thead class="table-secondary">
            <tr>
                <th scope="col">Catégorie</th>
                <th scope="col">Date création</th>
                <th scope="col">Titre</th>
                <th scope="col">-</th>
                <th scope="col">-</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Catégorie1</td>
                <td class="text-center">25/10/2024</td>
                <td>Titre1</td>
                <td>
                    <form method="post" action="{{ path('app_article_list') }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('edit1') }}">
                        <button class="btn btn-link" type="submit"><img class="icon-action-size" src="{{ asset('img/btn-edit.svg') }}" alt="btn-edit"/></button>
                    </form>
                </td>
                <td>
                    <form method="post" action="{{ path('app_article_list') }}" onsubmit="return confirm('Confirmez-vous la suppression ?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete1') }}">
                        <button class="btn btn-link" type="submit"><img class="icon-action-size" src="{{ asset('img/btn-delete.svg') }}" alt="btn-delete"/></button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>Catégorie2</td>
                <td class="text-center">25/10/2024</td>
                <td>Titre2</td>
                <td>
                    <form method="post" action="{{ path('app_article_list') }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('edit2') }}">
                        <button class="btn btn-link" type="submit"><img class="icon-action-size" src="{{ asset('img/btn-edit.svg') }}" alt="btn-edit"/></button>
                    </form>
                </td>
                <td>
                    <form method="post" action="{{ path('app_article_list') }}" onsubmit="return confirm('Confirmez-vous la suppression ?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete2') }}">
                        <button class="btn btn-link" type="submit"><img class="icon-action-size" src="{{ asset('img/btn-delete.svg') }}" alt="btn-delete"/></button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <a class="btn-add btn mt-2 rounded-3" href="{{ path('app_article_list') }}">Ajouter</a>
{% endblock %}




