{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Liste articles{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.5/dist/bootstrap-table.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.5/dist/bootstrap-table.min.js"></script>
    <script src="{{ asset('js/bootstrap-table-init.js') }}"></script>
{% endblock %}

{% block body %}
    <div>Il y a {{ articles|length }} articles.</div>

    <table 
        id="table"
        data-toggle="table"
        data-sortable="true"
        class="table table-responsive table-bordered w-auto">
        <thead class="table-secondary">
            <tr>
                <th scope="col" data-field="category" data-sortable="true">{{ 'category'|trans({}, 'article') }}</th>
                <th scope="col" data-field="creationDate" data-sortable="true">{{ 'creation_date'|trans({}, 'article') }}</th>
                <th scope="col" data-field="titleFr" data-sortable="true">{{ 'title_fr'|trans({}, 'article') }}</th>
                <th scope="col">-</th>
                <th scope="col">-</th>
                <th scope="col">-</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.category.nameFr }}</td>
                    <td class="text-center">{{ article.createdAt|date('d/m/Y') }}</td>
                    <td>{{ article.titleFr }}</td>
                    <td><a class="btn btn-link" href="{{ path('app_article_show', {id: article.id}) }}"><img class="icon-action-size" src="{{ asset('img/btn-see.svg') }}" alt="btn-see"/></a></td>
                    <td><a class="btn btn-link"  href="{{ path('app_article_edit', {id: article.id}) }}"><img class="icon-action-size" src="{{ asset('img/btn-edit.svg') }}" alt="btn-edit"/></a></td>
                    <td>
                        <form method="post" action="{{ path('app_article_delete', {id: article.id}) }}" onsubmit="return confirm('Confirmez-vous la suppression de l\'article et de ses {{ article.comments|length }} commentaires(s) ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
                            <button class="btn btn-link" type="submit"><img class="icon-action-size" src="{{ asset('img/btn-delete.svg') }}" alt="btn-delete"/></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if previous >= 0 or next < articles|length %}
        <br>
        {% include '_paginate.html.twig' with {'previous': previous, 'next': next, 'currentPage': currentPage, 'path': 'app_article_list', 'paginator': articles} %}
    {% endif %}

    <a class="btn-add btn mt-2 rounded-3" href="{{ path('app_article_new') }}">{{ 'add'|trans({}, 'actions') }}</a>
{% endblock %}




